@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}


.font-display {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home,
#sobre,
#projetos,
#processo,
#faq,
#contato {
  scroll-margin-top: 90px;
}

@keyframes scroll-tags {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

