@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}


.font-display {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home,
#sobre,
#projetos,
#processo,
#faq,
#contato {
  scroll-margin-top: 90px;
}

